@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  font-size: 1rem;
  margin-left: 5px;
  border: 5px ridge white;
  border-width: 20px;
border-radius: 30%;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  
}
button:hover {
  background-color: rgba(166, 206, 212, 0.634);
  font-size: large;
  border-radius: 50%;
}
h1{
  color: black;
  font-family: 'Rubik Maze', cursive;
  font-size: 4rem;
  text-decoration: underline;
}
h2{
  color: black;
  font-family: 'Rubik Iso', cursive;
  font-size: 1.5rem;
  
}
img{
  height: 250px;
  width: 350px;
  position: relative;
  top: 10px;
  left: -10px;
}
body{
  /* background-color: white; */
  background-image: url(https://img.freepik.com/free-vector/white-technology-background-concept_23-2148403398.jpg?w=2000);
  background-size: cover;
}
